/* @import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Handjet", sans-serif;
    font-weight:bold;
    cursor:cell;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* cloud */
.cloud {
    position: relative;
    width: 100px;
    height: 60px;
}

.cloud-block {
    background-color: #FFFFFF;
    position: absolute;
}

.cloud-block-1 {
    width: 50px;
    height: 30px;
    top: -10px;
    left: -20px;
    background: rgb(176, 210, 238);
}

.cloud-block-2 {
    width: 100px;
    height: 50px;
    top: 20px;
    left: 0;
    background: rgb(142, 198, 235);
}

.back-vid{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    position: absolute;
    top: -160px;
    gap: 200px;
    overflow: hidden;
    & .c1{
        top:100px
    }
    & .c2{
        top:-100px;
    }
    & .c3{
        top: 280px;
    }
    animation: move 20s linear infinite;
    
}

@keyframes move{
    from{
        transform: translateX(0%);
    }to{
        transform: translateX(-50%);
    }
}

.headder{
    width: 100%;
    display: flex;
    justify-content:space-between;
    /* border: 2px solid red; */
    padding: 20px;
    position:absolute;
    top:0px;

    & .logo{
        font-size:30px;
        font-family: "Silkscreen", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #576eb9;
    }
}

.canvas {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin-top: 20px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #407aa194;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size: 24px;
    border-radius:5px;
    box-shadow: inset 0px 0px 20px 2px rgb(110, 163, 247);
}

.num {
    display: none;
    font-size:60px;
    color:#134d5c;
}

.flipped .num {
    display: block;
}

.flipped {
    background-color: #47c5ff7a;
}

button {
    padding: 10px 20px;
    font-size: 30px;
    letter-spacing:3px;
    cursor: pointer;
    background: #134d5cec;
    border: none;
    color: white;
    border-radius: 5px;
}

.message {
    font-size: 30px;
    margin-bottom: 10px;
    color: #134d5c;
}

footer{
    width: 100%;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-items: center;
    position: absolute;
    bottom: 0;
    background: url(ground.png);
    background-size:auto;
    background-repeat: repeat-x;
}
